# Mac OSX Finder files.
.DS_Store

# ignore docker iota
iota/ixi
iota/mainnetdb

# ignore docker bigchaindb
bigchaindb

# ignore node_modules
backend/node_modules
backend/package-lock.json
frontend/node_modules
frontend/package-lock.json
