/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Saira Extra Condensed', sans-serif;
}

.ng-draggable {
  cursor: move;
}
